<div class="container">
<div class="general-info">
  <h2>Parcel Details</h2>
  
  <!-- Display Parcel Name -->
  <p><strong>Name:</strong> <%= @parcel.name %></p>
  
  <!-- Display KAEK -->
  <p><strong>KAEK:</strong> <%= @parcel.kaek %></p>

  <!-- Display Area -->
  <p><strong>Area:</strong> <%= @parcel.area %> m²</p>
</div>
<div class="map-container">
  <div style="width: 100%; height: 100%;"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @parcel.coordinates_4326.to_json %>"
    data-map-parcel-name-value="<%= @parcel.name %>"
    data-map-parcel-kaek-value="<%= @parcel.kaek %>"
    data-map-parcel-area-value="<%= @parcel.area %>">
  </div>
</div>
<div class="container_coordinates" data-controller="toggle-button">
  <button
  class="btn-coordinates mt-2 mb-4"
  data-action="click->toggle-button#toggle">
  Coordinates  <i class="fa-solid fa-location-dot"></i>
  </button>
  <!-- Coordinates Table -->
  <div class="coordinates"
  data-toggle-button-target="coordinates">
  <h4>Coordinates in EPSG:2100 and EPSG:4326</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Coordinates 2100 (X, Y)</th>
        <th>Coordinates 4326 (Longitude, Latitude)</th>
      </tr>
    </thead>
    <tbody>
      <% @parcel.coordinates_2100.each_with_index do |coord_2100, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= coord_2100.join(", ") %></td>
          <td>
            <% if @parcel.coordinates_4326[index].present? %>
              <%= @parcel.coordinates_4326[index].join(", ") %>
            <% else %>
              N/A <!-- Or you can use some other placeholder -->
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>
